@page "/Bookings"
@implements IDisposable
@inject NewBookingsContainer NewBookingsContainer
@inject IContractService<Contract> contractService

<MudCard>
    <MudCardHeader><h6>Rooms you have selected to book</h6> </MudCardHeader>
    <MudCardContent>
        @foreach (var booking in NewBookingsContainer.newBookings)
        {
            <MudText><b>Room ID: </b>@booking.RoomId</MudText>
            <MudText><b>From:</b> @booking.FromDate</MudText>
            <MudText><b>To:</b> @booking.ToDate</MudText>
            <MudText><b>Signed on:</b> @booking.SignedDate</MudText>
            <MudButton @onclick="() => OnCancelSelectedBooking(booking)" Variant="Variant.Filled" Color="Color.Error">Cancel Pending booking</MudButton>
        }
    </MudCardContent>
</MudCard>
<MudButton @onclick="OnSubmitBooking" Variant="Variant.Filled" Color="Color.Success">Submit your bookings</MudButton>

<MudCard>
    <MudCardHeader><h6>Pending bookings</h6></MudCardHeader>
    <MudCardContent>
        @foreach (var booking in _pendingUserContracts)
        {
            <MudText><b>From:</b> @booking.FromDate</MudText>
            <MudText><b>To:</b> @booking.ToDate</MudText>
            <MudText><b>Signed on:</b> @booking.SignedDate</MudText>
        }
    </MudCardContent>
</MudCard>

<MudCard>
    <MudCardHeader><h6>Your bookings</h6> </MudCardHeader>
    <MudCardContent>
        @foreach(var booking in _userContracts)
        {
            <MudText><b>From:</b> @booking.FromDate</MudText>
            <MudText><b>To:</b> @booking.ToDate</MudText>
            <MudText><b>Signed on:</b> @booking.SignedDate</MudText>
        }
    </MudCardContent>
</MudCard>


@code {
    private List<Contract> _userContracts = new List<Contract>();
    private List<Contract> _pendingUserContracts = new List<Contract>();
    private User _user = LoginManager.User;

    protected override async void OnInitialized()
    {
        _userContracts = await contractService.GetUserContracts(_user.Id);
        _pendingUserContracts = await contractService.GetPendingContracts(_user.Id);


        NewBookingsContainer.OnChange += StateHasChanged;
        base.OnInitialized();
    }

    public void OnCancelSelectedBooking(Contract contract)
    {
        NewBookingsContainer.newBookings.Remove(contract);
    }

    public async void OnSubmitBooking()
    {
        await contractService.Create(NewBookingsContainer.newBookings);
    }

    public void Dispose()
    {
        NewBookingsContainer.OnChange -= StateHasChanged;
    }
}
